.shell {
    display: grid;
    grid-template-columns: 192px 1fr;
    grid-template-areas: 
    "header header"
    "sidebar content";
}

.header {
    grid-area: header;
    padding: 1rem;
    background-color: green;
}

.aside {
    grid-area: sidebar;

}

.content {
    grid-area: content;
}