.shell {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 192px 1fr;
    grid-template-areas: 
    "sidebar content";
    row-gap: 1rem;
}

.sidebar {
    grid-area: sidebar;
    background-color: aliceblue;
    border-right: 1px solid grey;
}

.content {
    grid-area: content;
    padding: 1rem;
}

.todo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header__actions {
    display: flex;
    gap: 8px;
}

.project,
.button {
    height: fit-content;
}